.nav {
  padding: 10px 0 0 36px;
}

.link {
  color: #000;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .nav {
    padding-left: 0;
  }
}
